.section {
  background-color: #121826a6;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  @media screen and (max-width: 768px) {
    width: calc(100% -100px);
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.header img {
  width: 250px;
  border-radius: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main h1 {
  font-size: 18px;
  font-weight: 500;
}

.main h2 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: #4d5562;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timesContainer {
  display: flex;
  flex-direction: column;
}
.times {
  display: flex;
  gap: 2px;
  justify-content: space-between;
}

.times span {
  font-size: 10px;
  color: #4d5562;
}

.progress {
  width: 250px;
  border: none;
  max-height: 4px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
}

progress::-webkit-progress-value {
  background-color: #c93b76;
  border-radius: 16px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

progress::-webkit-progress-bar {
  background-color: #fff; /* Cor do fundo da barra de progresso */
  border-radius: 5px;
}

.actions > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.actions > button:hover {
  filter: brightness(2);
}

.actions > .previus {
  background-color: transparent;
}

.actions > .previus:hover {
  transition: ease-in-out 0.3s;
  background-color: #4d556225;
}

.actions > .audio {
  background-color: #c93b76;
}
.actions > .audio:hover {
  filter: brightness(0.8);
}

.actions > .next {
  background-color: transparent;
}

.actions > .next:hover {
  transition: ease-in-out 0.3s;
  background-color: #4d556225;
}
